




body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}
.intestazione
{
	width:100%;
	display: inline-flex;
	padding:0;	
}

header{
	margin-top:30px;
	padding:0;
	
	width: 100%;
}

.logo {
	width: 20%;
	
}
.imgLogo{
	width: 80%;
	height: 90%;
}

.formRicerca{
	width: 60%;
	
	align-self: center;
	
}

.formAccedi{
	width: 20%;
	
	align-self: center;
	
}

.ricerca{
	border:1px;
	margin-left:5px;
	height:50px;
	width:80%;
  border-style:solid;
  border-color:black;
  border-radius: 4px;
}
.button_accedi{
	
	cursor: pointer;
	text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #FFC312; 
  border-color:#FFC312;
  color:black;
  border-radius: 15px;
  outline: none;
  height: 50px;
  font-size: 18px;

}

.button_accedi:hover{color: white; background-color: black; border-color: black;}
.button_cerca:hover{color: white; background-color: black; border-color: black;}
.button_cerca{
	
	cursor: pointer;
	text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #FFC312; 
  border-color:#FFC312;
  color:black;
  border-radius: 15px;
  outline: none;
  height: 50px;
  font-size: 18px;
	
}

.nav{
	width:100%;
}

ul {
	 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(84,181,255);
  background-color: #333;
  width: 100%; 
  text-align:center;
  height: 30px;
}

li {
  
 display: inline; 
 padding: 10px;
}

li a {

  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.logout{
	margin-left: 15px;
}

.imgProfilo
{
	background-color: transparent;
	border: none;
}

.imgLogout{
	background-color: transparent;
	border: none;
}
.diritti {
	display: inline-flex;
}

.diritti p {
	font-size:20px;
	margin: 0;
	margin-left: 10px;
	font-stretch: ultra-expanded;
}



