.contenitore
{
	width:100%;
	display: inline-flex;
}

.blocco{
	
	background-color: rgb(84,181,255);
	border: medium;
	border-color: blue;
	margin-top: 35px;
	width:50%;
	border-style: ridge;
	border-color: black;
	margin-left: 20px; 
	margin-right: 20px;	
}

#textgiallo
{
	font-size:30px;
	color:#FFC312;
	font-weight: bold;
}

#textnero
{
	font-size:20px;
	font-weight: bold;
}

.progetti
{
	margin-top:25px;
	width:50%
	margin-right: 20px;
	border-style: solid;
	border: 20px;
	border-color: black;
	margin-left: 20px;
}

table.featured
{
	
	width:100%;
	border-spacing: 10px;
    border-collapse: separate;
}

table.featured img
{
	width:120px;
	height:120x;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
}

table.featured img:hover
{
	opacity:0.5;
}

table.featured td
{
	border-radius:10px;
	border-style:ridge;
	border-color: black;
}