.blocco{
	
	background-color: rgb(84,181,255);
	border: medium;
	border-color: blue;
	margin-top: 25px;
	width:30%;
	border-style: ridge;
	border-color: black;
	margin-left: 20px; 
	margin-right: 20px;
}

#textgiallo{
	font-size:20px;
	color:yellow;
}

.progetti{
	
	margin-top:25px;
	width:70%;
	height:200px;
	background-color: aqua;
	margin-right: 20px;
}

.contenitore{
	width:100%;
	display: inline-flex;
}



