@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.contenitore
{
	width: 97%;
	background-color: rgb(84,181,255);
	display: inline-flex;
	margin-left:1.5%;
	margin-top:5px; 
	border-style: solid;
	border-color: black;
}

.immagineCont
{
	margin-top:40px;
	margin-left:50px;
	width:40%;
	height: 420px;
}

.immagineCont img
{
	width: 400px;
	height: 400px;
	border-style:solid;
	border-color: black;
}

.informazioni
{
	width: 40%;
}

.button
{
	margin-top:40px;
	width: 20%;
}

.button input
{
	text-align: center;
  	text-decoration: none;
  	outline: none;
  	border: none;
 	background-color: #FFC312; 
  	border-color:#FFC312;
 	color:black;
  	border-radius: 15px;
  	outline: none;
  	height: 50px;
  	font-size: 18px;
  	transition: all 0.5s
}

.button input:hover
{ 
	color: white; 
	background-color: black; 
	cursor: pointer; 
	transition: all 0.5s;
}


.contenitore .disab
{
	cursor: not-allowed;
 	background-color: #808080 ; 
  	border-color:#FFC312;
}

.contenitore .disab:hover
{
	cursor: not-allowed;
 	background-color: #808080 ; 
  	border-color:#FFC312;
  	color:black;
}

.disab
{
	cursor: not-allowed;
 	background-color: #808080 ; 
	text-align: center;
  	text-decoration: none;
  	outline: none;
  	border: none;
  	border-color:#FFC312;
  	color:black;
  	border-radius: 15px;
  	outline: none;
  	height: 50px;
  	font-size: 18px;
  	width: 170px;
}

.valCommenti
{
	width: 100%;
	height: 200px;
}

.informazioni a
{
	color: black;
}

.button input 
{
	cursor: pointer;
	text-align: center;
  	text-decoration: none;
  	outline: none;
  	border: none;
  	background-color: #FFC312; 
  	border-color:#FFC312;
  	color:black;
  	border-radius: 15px;
  	outline: none;
  	height: 50px;
  	font-size: 18px;
  	width: 170px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }




.valCommenti
{
	width: 100%;
	display: inline-block;
	margin-left:35%;
	margin-right:35%;
}