
html,body { background-size: cover; background-repeat: no-repeat; height: 100%; font-family: 'Numans', sans-serif; }

.all{ display: inline-flex;margin-top:5px; width:100%; margin-left: 5%; margin-right: 5%; padding: 0 1%;}

.pubblicati{ height: 460px; margin-bottom: auto; width: 450px; background-color: rgb(84,181,255);
	 border-style: solid; border-color: black; border-width: 3px; padding:0 20px;margin: 0 1%;}

.input-group-prepend span{ width: 50px; background-color: #FFC312; color: black; border:0; }

input:focus{ outline: 0 0 0 0; box-shadow: 0 0 0 0; }

.infoutente {height: 420px; margin-bottom: auto; width: 450px; background-color: rgb(84,181,255);
	margin: 0 1%; border-style: solid; border-color: black; border-width: 3px; padding:20px;}

.bott { height: 420px; margin-bottom: auto; width: auto; margin: 3% 4%;}


.bott .bottoni{  color: black; background-color: #FFC312; width: 170px; border:none; border-radius: 5px; padding:15px; transition: all 0.5s}

.bott .bottoni:hover{ color: white; background-color: black; cursor: pointer; transition: all 0.5s}