/* INIZIO CSS PC NIKO */

.contenitore{
	background-color:aqua;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-color: black;
	display: inline-flex;
}

.contenitoreFoto
{
	width: 30%;
}

.informationiUpload
{
	width: 70%;
}

/* FINE CSS PC NIKO */
