body
{ 
	padding-top: 50px; 
}

html,body 
{ 
	background-size: cover; 
	background-repeat: no-repeat; 
	height: 100%; 
	font-family: 'Numans', sans-serif; 
}

.racchiudi
{ 
	display: inline-flex; 
	width: 100%;
}

.blocco1 
{ 
	height: 530px; 
	margin-bottom: auto; 
	padding: 0 20px; 
	margin-top:5px; 
	margin-left: 5%; 
	background-color: rgb(84,181,255);
	border-style: solid; 
	border-color: black; 
	border-width: 3px;
}
			
.blocco2
{ 
	height: 530px; 
	margin-bottom: auto; 
	width: 250px; 
	margin-top:5px; 
	background-color: rgb(84,181,255);
 	margin-left: 5%; 
 	border-style: solid; 
 	border-color: black; 
 	border-width: 3px; 
 	overflow:auto; 
 	padding:0 25%;
 }

.input-group-prepend span
{ 
	width: 50px; 
	background-color: #FFC312; 
	color: black; 
	border:0 !important; 
}

input:focus
{ 
	outline: 0 0 0 0  !important; 
	box-shadow: 0 0 0 0 !important; 
}

.bottoni
{  
	color: black; 
	background-color: #FFC312;
	width: 170px; 
	border:none; 
	border-radius: 5px; 
	padding:15px; 
	transition: all 0.5s;
}

.bottoni:hover
{ 
	color: white; 
	background-color: black; 
	cursor: pointer; 
	transition: all 0.5s;
}

input
{
	width: 17em;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	transition: 0.5s;
	outline: none;
	border-radius: 5px;
	margin: 25px 0;
}

input:focus 
{
  border: 3px solid #555;
}

.conferma
{  
	color: black; 
	background-color: #FFC312; 
	width: 17em; 
	border:none; 
	border-radius: 5px; 
	padding:15px; 
	transition: all 0.5s; 
	margin: 25px 0;
}

.conferma:hover
{ 
	color: white; 
	background-color: black; 
	cursor: pointer; 
	transition: all 0.5s;
}