
.contenitore{
	
	background-color:rgb(84,181,255);
	width: 97%;
	margin-left: 1.5%;
	margin-right: 5%;
	border-style: solid;
	border-color: black;
	display:inline-flex;
	margin-top: 10px;
	display: inline-flex;
	height: 530px;
	overflow: auto;
}

.caricaFoto{
	
	width: 200px;
	border-style: solid;
	border-color: black;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 200px;
	
}
.infoUpload input
{
	padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.caricaFoto img{
	
	width: 200px;
	height: 200px;
}
